@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

.buttonsdiv {
	padding-right: 40%;
}

.container {
    padding-left:10%;
}

.form-control{
    background: transparent;
}
form {
	width: 320px;
	margin: 20px;
	margin-left:65px;
    /* padding-left:350px; */
}



form > div {
	position: relative;
	overflow: hidden;
}
form input {
	width: 100%;
	/* border: 2px solid black; */
	background: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 8px 12px;
	outline: 0;
}
form input:valid{
	background: white;
}
form input:focus{
	/* border-color: #357EBD; */
}
form input:focus + label{
	background: #0c3d46;
	color: white;
	font-size: 70%;
	padding: 1px 6px;
	z-index: 2;
    text-transform: uppercase;
}
form label {
	-moz-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	position: absolute;
	color: black;
	padding: 7px 6px;
    font-weight: normal;
    font-family: "Futura";
    margin-bottom:-40px;
}

form.go-bottom input{
	padding: 12px 12px 12px 12px;
}
form.go-bottom label {
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}
form.go-bottom input:focus{
	padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label{
	top: 100%;
	margin-top: -16px;
}
form.go-right label {
	border-radius: 0 5px 5px 0;
	height: 100%;
	top: 0;
	right: 100%;
	width: 100%;
	margin-right: -100%;
}
form.go-right input:focus + label{
	right: 0;
	margin-right: 0;
	width: 40%;
	padding-top: 5px;
}


